@charset "utf-8";
/* CSS Document */
body .Webpage3{
	background-image: url("../../New folder/theme.png");
	padding-bottom: 100px;
	background-repeat: no-repeat;
}
.Webpage3 .theme{
	padding-top: 1px;
	text-align: center;
	color: black;
	font-size: 60px;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
}
.Webpage3 .agri p{
	margin-top: 100px;
	margin-right: 1000px;
	margin-left:20px;
}
.Webpage3 .health p{
	margin-right: 1000px;
	margin-top: 125px;
	margin-left:20px;	
}